@import 'mixins';


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Raleway';
}

.landing-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to left, #142850, #1c325e);
    z-index: -1;
}

nav {
    display: grid;
    grid-template-columns: 5% 1fr 1fr 5%;
    min-height: 8vh;
    color: white;
    align-items: center;
    padding-top: 30px;

    #logo {
        grid-column: 2/3;
        font-size: 2rem;
    }

    .hamburger {
        justify-self: end;
    }
}

.landing-section {
    display: flex;
    height: 85vh;
    justify-content: center;
    align-items: center;
}

.hero {
    height: 70%;
    width: 100%;
    position: relative;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    &:after {
        content: "";
        background: black;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0.2;
    }
}

.headline {
    position: absolute;
    top: 80%;
    left: 15%;
    font-size: 6rem;
    color: white;
    transform: translate(-20%, -70%);
    z-index: 5;

    // &::after {
    //     content: "";
    //     background: white;
    //     display: block;
    //     position: absolute;
    //     width: 60rem;
    //     height: 10px;
    // }
}


////////////////////////////////////////// Projects section ////////////////////////////////////////

.project {
    height: 90vh;
    background: linear-gradient(to left, #142850, #1c325e);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #f1f3f8;



    a {
        outline: none;
        text-decoration: none;
        color: #f1f3f8;
        background: #00909e;
        padding: 10px;
        border-radius: 5%;

        &:hover {
            background-color: #dae1e7;
            color: #00909e;
            transition: 1s;
        }

        &:after {
            content: '\f061';
            font-family: 'FontAwesome';
            margin-left: -10px;
            opacity: 0;
            vertical-align: middle;
            transition: margin 0.5s, opacity 0.3s;
        }

        &:hover:after {
            margin-left: 8px;
            opacity: 1;
            text-decoration: none;

        }

    }

    h1 {
        display: block;
        position: relative;
        border-bottom: 1px solid #e0e0e0;
        padding-bottom: 10px;


        &::after {
            content: '';
            display: block;
            position: absolute;
            width: 120px;
            height: 3px;
            bottom: -3px;
            background: red;
        }
    }


    h3,
    p {
        margin: 35px 0;
    }

    h3 {
        font-size: 2.5rem;
    }

    p {
        line-height: 150%;
        font-size: 1.25rem;
    }

    h1 {
        font-size: 5em;
    }

}

.project-info {
    padding: 0 50px;
    max-width: 35%;
}

.project-imgs {
    // justify-items: center;
    // justify-content: center;
    display: grid;
    place-items: center;

    img {
        width: 90%;
    }
}



.project:nth-child(even) {
    .project-info {
        order: 2;
    }

}

@media only screen and (max-width: 1300px) {
    .project {
        flex-direction: column;
        padding: 60% 0;

    }

    .project-imgs {
        // justify-items: center;
        // justify-content: center;

        img {
            width: 70%;
        }
    }

    .project-info {
        order: 2;
        max-width: 70%;

        h1 {
            padding-top: 55px;
        }

        a {
            &:after {
                content: '\f061';
                font-family: 'FontAwesome';
                margin-left: 10px;
                opacity: 1;
                vertical-align: middle;
            }
        }
    }


}


@media only screen and (max-width: 768px) {
    .project {
        flex-direction: column;
        padding: 250px 15px;

        h1 {
            font-size: 3em;
            padding-top: 55px;
        }

        h3,
        p {
            margin: 20px 0;
        }

        h3 {
            font-size: 2.25rem;
        }

        p {
            line-height: 150%;
            font-size: 1.25rem;
        }




    }

    .project-info {
        order: 2;
        max-width: 80%;

    }

}