@import 'mixins';


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Raleway';
}

.landing-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to left, #ba7453, #d1a984);
    z-index: -1;
}

nav {
    display: grid;
    grid-template-columns: 5% 1fr 1fr 5%;
    min-height: 8vh;
    color: white;
    align-items: center;
    padding-top: 30px;

    #logo {
        grid-column: 2/3;
        font-size: 2rem;
    }

    .hamburger {
        justify-self: end;
    }
}

section {
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;

}

.hero {
    height: 70%;
    width: 100%;
    position: relative;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    &:after {
        content: "";
        background: black;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0.2;
    }
}

.headline {
    position: absolute;
    top: 80%;
    left: 15%;
    font-size: 6rem;
    color: white;
    transform: translate(-20%, -70%);
    z-index: 5;

    &::after {
        content: "";
        color: white;
        width: 50px;
        height: 30px;
    }
}




