/* Margin - 5% left and right*/
/* Display - flex various justify-content */
/* Font */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Raleway';
}

.portfolio {
  color: white;
  background: radial-gradient(rgba(43, 55, 96, 0.9), #0b1023);
}

nav {
  min-height: 10vh;
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0px;
}

.logo {
  font-size: 22px;
}

.page {
  min-height: 90vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% 1fr 1fr 1fr 5%;
      grid-template-columns: 5% 1fr 1fr 1fr 5%;
}

.hero {
  overflow: hidden;
  height: 500px;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero img {
  height: 568px;
  width: 189px;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  cursor: pointer;
}

.hero .model-right {
  -webkit-transform: translate(0%, 10%);
          transform: translate(0%, 10%);
}

.hero .model-left {
  -webkit-transform: translate(0%, -20%);
          transform: translate(0%, -20%);
}

.hero:hover .model-right {
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
}

.hero:hover .model-left {
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
}

.details {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.details h1 {
  font-size: 64px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

.details h2 {
  font-size: 42px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  padding: 25px 0px;
}

.details p {
  font-size: 24px;
  padding: 25px 0px 50px 0px;
}

.pages {
  position: absolute;
  right: 5%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.pages > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pages h3 {
  font-size: 30px;
  padding: 30px;
}

.pages svg {
  cursor: pointer;
  opacity: 0.5;
  -webkit-transform: scale(2);
          transform: scale(2);
}

.pages svg:hover {
  -webkit-animation: pulse 0.5s ease-in-out infinite alternate;
          animation: pulse 0.5s ease-in-out infinite alternate;
}

.pages svg.active {
  opacity: 1;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  100% {
    -webkit-transform: scale(3);
            transform: scale(3);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  100% {
    -webkit-transform: scale(3);
            transform: scale(3);
  }
}

/* ----------------Profiles-------------- */
.banner {
  height: 50vh;
  width: 100%;
  position: relative;
}

.banner img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.author {
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -70%);
          transform: translate(-50%, -70%);
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.author h1 {
  font-size: 42px;
}

.author h3 {
  padding: 10px 0px;
  font-size: 32px;
}

.story,
.my-work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  margin: auto;
  padding: 80px 0px;
}

.story-description,
.work-description {
  width: 50%;
  line-height: 150%;
}

.story-description h3,
.work-description h3 {
  font-size: 36px;
  padding-bottom: 30px;
}

.story-description p,
.work-description p {
  padding: 20px 0px;
  font-size: 20px;
}

.work-gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (200px)[3];
      grid-template-columns: repeat(3, 200px);
}

.work-gallery img {
  width: 100%;
}

@media (max-width: 1024px) {
  .pages {
    -ms-grid-columns: 5% 1fr 5%;
        grid-template-columns: 5% 1fr 5%;
    -ms-grid-rows: 2fr 1fr;
        grid-template-rows: 2fr 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    height: auto;
  }
  .hero img {
    height: 500px;
  }
  .details {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    text-align: center;
  }
}
/*# sourceMappingURL=main.css.map */