@import 'mixins';


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Raleway';
}

.portfolio {
    color: white;
    background: radial-gradient(rgba(43, 55, 96, 0.9), rgba(11, 16, 35, 1))
}


nav {
    min-height: 10vh;
    width: 90%;
    margin: auto;
    @include flexSpaceBetween;
    padding: 20px 0px;
}

.logo {
    font-size: 22px;
}


.page {
    min-height: 90vh;
    display: grid;
    // 5% dictates the margin on the left/right sides
    grid-template-columns: 5% 1fr 1fr 1fr 5%;
}



.hero {
    overflow: hidden;
    height: 500px;
    align-self: center;
    justify-self: center;
    display: flex;

    img {
        height: 568px;
        width: 189px;
        transition: transform 0.3s ease-out;
        cursor: pointer;

    }

    .model-right {
        transform: translate(0%, 10%);
    }

    .model-left {
        transform: translate(0%, -20%);
    }

    &:hover .model-right {
        transform: translate(0%, 0%);
    }

    &:hover .model-left {
        transform: translate(0%, 0%);
    }

}



.details {
    grid-column: 2/3;
    align-self: end;

    h1 {
        font-size: 64px;
        @include ralewayBold;
    }

    h2 {
        font-size: 42px;
        @include ralewayRegular;
        padding: 25px 0px;
    }

    p {
        font-size: 24px;
        padding: 25px 0px 50px 0px;
    }
}

.pages {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);

    &>div{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    h3 {
        font-size: 30px;
        padding: 30px;

    }


    svg{
        cursor: pointer;
        opacity: 0.5;
        transform: scale(2);

        &:hover {
            animation: pulse 0.5s ease-in-out infinite alternate;
        }

        &.active {
            opacity: 1;
        }
    }

}

@keyframes pulse {
    0%{
        transform: scale(2);
    }

    100%{
        transform: scale(3);
    }
}